In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('data/XAUUSD.csv')

In [3]:
df

               Date   Time      Open      High       Low     Close  Volume
0        2004.06.14  04:16   382.600   382.800   382.600   382.600       3
1        2004.06.14  04:17   382.600   382.800   382.600   382.800       2
2        2004.06.14  04:20   382.600   382.600   382.600   382.600       1
3        2004.06.14  04:23   382.800   382.800   382.600   382.600       2
4        2004.06.14  04:26   383.100   383.100   383.100   383.100       1
...             ...    ...       ...       ...       ...       ...     ...
6514469  2025.03.11  07:11  2901.908  2902.215  2901.761  2902.015      76
6514470  2025.03.11  07:12  2901.994  2902.080  2900.513  2900.870     133
6514471  2025.03.11  07:13  2900.902  2901.289  2900.820  2901.157     115
6514472  2025.03.11  07:14  2901.150  2901.320  2899.847  2899.923     155
6514473  2025.03.11  07:15  2899.895  2899.895  2898.750  2898.750      95

[6514474 rows x 7 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6514474 entries, 0 to 6514473
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   Date    object
 1   Time    object
 2   Open    float64
 3   High    float64
 4   Low     float64
 5   Close   float64
 6   Volume  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 347.9+ MB

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'], df['Month'], df['Day'] = df['Date'].dt.year, df['Date'].dt.month, df['Date'].dt.day

In [6]:
df

,Date,Time,Open,High,Low,Close,Volume,Year,Month,Day
0,2004-06-14,04:16,382.600,382.800,382.600,382.600,3,2004,6,14
1,2004-06-14,04:17,382.600,382.800,382.600,382.800,2,2004,6,14
2,2004-06-14,04:20,382.600,382.600,382.600,382.600,1,2004,6,14
3,2004-06-14,04:23,382.800,382.800,382.600,382.600,2,2004,6,14
4,2004-06-14,04:26,383.100,383.100,383.100,383.100,1,2004,6,14
...,...,...,...,...,...,...,...,...,...,...
6514469,2025-03-11,07:11,2901.908,2902.215,2901.761,2902.015,76,2025,3,11
6514470,2025-03-11,07:12,2901.994,2902.080,2900.513,2900.870,133,2025,3,11
6514471,2025-03-11,07:13,2900.902,2901.289,2900.820,2901.157,115,2025,3,11
6514472,2025-03-11,07:14,2901.150,2901.320,2899.847,2899.923,155,2025,3,11
6514473,2025-03-11,07:15,2899.895,2899.895,2898.750,2898.750,95,2025,3,11

In [7]:
test_df = df.loc[df['Year'].isin(range(2022, 2026))]
test_df

,Date,Time,Open,High,Low,Close,Volume,Year,Month,Day
5387077,2022-01-03,00:05,1830.630,1830.640,1829.650,1829.730,45,2022,1,3
5387078,2022-01-03,00:06,1829.750,1830.160,1829.650,1830.020,56,2022,1,3
5387079,2022-01-03,00:07,1829.900,1829.950,1829.520,1829.790,47,2022,1,3
5387080,2022-01-03,00:08,1829.870,1831.130,1829.800,1831.130,45,2022,1,3
5387081,2022-01-03,00:09,1831.130,1831.820,1830.860,1831.650,58,2022,1,3
...,...,...,...,...,...,...,...,...,...,...
6514469,2025-03-11,07:11,2901.908,2902.215,2901.761,2902.015,76,2025,3,11
6514470,2025-03-11,07:12,2901.994,2902.080,2900.513,2900.870,133,2025,3,11
6514471,2025-03-11,07:13,2900.902,2901.289,2900.820,2901.157,115,2025,3,11
6514472,2025-03-11,07:14,2901.150,2901.320,2899.847,2899.923,155,2025,3,11
6514473,2025-03-11,07:15,2899.895,2899.895,2898.750,2898.750,95,2025,3,11

In [8]:
dev_df = df.loc[df['Year'] == 2021]
dev_df

,Date,Time,Open,High,Low,Close,Volume,Year,Month,Day
5036063,2021-01-04,00:05,1909.07,1909.33,1907.95,1908.40,236,2021,1,4
5036064,2021-01-04,00:06,1908.36,1909.18,1907.82,1908.68,193,2021,1,4
5036065,2021-01-04,00:07,1908.67,1908.80,1908.18,1908.27,113,2021,1,4
5036066,2021-01-04,00:08,1908.27,1908.51,1907.84,1908.15,103,2021,1,4
5036067,2021-01-04,00:09,1908.19,1908.88,1907.73,1908.77,165,2021,1,4
...,...,...,...,...,...,...,...,...,...,...
5387072,2021-12-31,19:43,1827.22,1827.34,1827.08,1827.33,42,2021,12,31
5387073,2021-12-31,19:44,1827.32,1827.55,1827.27,1827.44,49,2021,12,31
5387074,2021-12-31,19:45,1827.46,1827.77,1827.39,1827.59,72,2021,12,31
5387075,2021-12-31,19:46,1827.61,1827.86,1827.54,1827.77,48,2021,12,31
5387076,2021-12-31,19:47,1827.74,1828.04,1827.71,1827.95,38,2021,12,31

In [9]:
train_df = df.loc[df['Year'].isin(range(2021-10, 2021))]
train_df

,Date,Time,Open,High,Low,Close,Volume,Year,Month,Day
1589484,2011-01-03,01:00,1415.71,1416.54,1415.10,1415.63,1035,2011,1,3
1589485,2011-01-03,02:00,1415.64,1416.43,1414.90,1415.98,736,2011,1,3
1589486,2011-01-03,03:00,1415.95,1417.89,1414.59,1416.54,922,2011,1,3
1589487,2011-01-03,04:00,1416.51,1418.64,1415.25,1416.75,1060,2011,1,3
1589488,2011-01-03,05:00,1416.76,1420.00,1416.76,1419.48,838,2011,1,3
...,...,...,...,...,...,...,...,...,...,...
5036058,2020-12-31,19:43,1893.35,1893.35,1892.96,1893.16,24,2020,12,31
5036059,2020-12-31,19:44,1893.16,1893.67,1893.16,1893.53,34,2020,12,31
5036060,2020-12-31,19:45,1893.52,1893.54,1893.36,1893.43,38,2020,12,31
5036061,2020-12-31,19:46,1893.41,1893.48,1893.35,1893.43,13,2020,12,31
5036062,2020-12-31,19:47,1893.41,1893.52,1893.26,1893.43,28,2020,12,31

In [10]:
# def calculate_threshold(df, delta=30):
#     df.loc[:, [f'Price_t_plus_{delta}']] = df['Close'].shift(-delta)

#     # Tính tỷ lệ thay đổi giá
#     df.loc[:, ['Return']] = df[f'Price_t_plus_{delta}'] / df['Close'] - 1

#     # Loại bỏ giá trị NaN (do shift)
#     df = df.dropna()

#     # Tách return thành tăng (dương) và giảm (âm)
#     positive_returns = df['Return'][df['Return'] > 0]  # Tăng giá
#     negative_returns = df['Return'][df['Return'] < 0]  # Giảm giá

#     # Thống kê cho return dương (BUY)
#     mean_positive = positive_returns.mean()
#     std_positive = positive_returns.std()
#     percentiles_positive = positive_returns.quantile([0.25, 0.5, 0.75, 0.95])

#     # Thống kê cho return âm (SELL)
#     mean_negative = negative_returns.mean()
#     std_negative = negative_returns.std()
#     percentiles_negative = negative_returns.quantile([0.05, 0.25, 0.5, 0.75])

#     # In thống kê
#     print(f"Thống kê dao động giá trong {delta} phút (Tăng - BUY):")
#     print(f"Trung bình: {mean_positive:.4%}")
#     print(f"Độ lệch chuẩn: {std_positive:.4%}")
#     print(f"Phân vị 25%: {percentiles_positive[0.25]:.4%}")
#     print(f"Phân vị 50% (median): {percentiles_positive[0.5]:.4%}")
#     print(f"Phân vị 75%: {percentiles_positive[0.75]:.4%}")
#     print(f"Phân vị 95%: {percentiles_positive[0.95]:.4%}")

#     print(f"\nThống kê dao động giá trong {delta} phút (Giảm - SELL):")
#     print(f"Trung bình: {mean_negative:.4%}")
#     print(f"Độ lệch chuẩn: {std_negative:.4%}")
#     print(f"Phân vị 5%: {percentiles_negative[0.05]:.4%}")
#     print(f"Phân vị 25%: {percentiles_negative[0.25]:.4%}")
#     print(f"Phân vị 50% (median): {percentiles_negative[0.5]:.4%}")
#     print(f"Phân vị 75%: {percentiles_negative[0.75]:.4%}")

#     # Vẽ histogram riêng cho tăng và giảm
#     plt.figure(figsize=(7, 4))

#     plt.subplot(1, 2, 1)
#     plt.hist(positive_returns, bins=50, range=(0, 0.05), density=True, color='blue')
#     plt.title(f"Phân bố tăng giá (BUY) trong {delta} phút")
#     plt.xlabel("Return")
#     plt.ylabel("Tần suất")

#     plt.subplot(1, 2, 2)
#     plt.hist(negative_returns, bins=50, range=(-0.05, 0), density=True, color='red')
#     plt.title(f"Phân bố giảm giá (SELL) trong {delta} phút")
#     plt.xlabel("Return")
#     plt.ylabel("Tần suất")

#     plt.tight_layout()
#     plt.show()

#     print(f'Delta = {delta}')
    
#     # Đề xuất threshold 
#     threshold = std_positive * 0.45
    
#     print(f"Threshold gợi ý: {threshold:.4%}")
    
#     # Tính giá trị tiền dựa trên giá trung bình trong df
#     avg_price = df['Close'].mean()
#     print(f"\nGiá trung bình trong dữ liệu: ${avg_price:.2f}")

#     # Tính giá trị tiền
#     threshold_in_money = avg_price * threshold

#     print(f"Giá trị tiền tương ứng với threshold:")
#     print(f"Threshold ({threshold}) in money: ${threshold_in_money:.2f}")

#     # Kiểm tra phân bố nhãn với threshold riêng
#     df.loc[:, ['Label']] = np.where(df[f'Price_t_plus_{delta}'] > df['Close'] * (1 + threshold), 'BUY',
#                         np.where(df[f'Price_t_plus_{delta}'] < df['Close'] * (1 - threshold), 'SELL', 'HOLD'))

#     label_distribution = df['Label'].value_counts(normalize=True)
#     print("\nPhân bố nhãn với threshold riêng:")
#     print(label_distribution)
    
#     return df, delta, threshold

In [11]:
def calculate_threshold(df, delta=30):
    df.loc[:, [f'Price_t_plus_{delta}']] = df['Close'].shift(-delta)

    # Tính tỷ lệ thay đổi giá
    df.loc[:, ['Return']] = df[f'Price_t_plus_{delta}'] / df['Close'] - 1

    # Loại bỏ giá trị NaN (do shift)
    df = df.dropna()

    # Tách return thành tăng (dương) và giảm (âm)
    positive_returns = df['Return'][df['Return'] > 0]  # Tăng giá

    std_positive = positive_returns.std()

    print(f'Delta = {delta}')
    
    # Đề xuất threshold 
    threshold = std_positive * 0.45 # 1.5 lần độ lệch chuẩn cho BUY
    
    print(f"Threshold gợi ý: {threshold:.4%}")
    
    # Tính giá trị tiền dựa trên giá trung bình trong df
    avg_price = df['Close'].mean()
    print(f"\nGiá trung bình trong dữ liệu: ${avg_price:.2f}")

    # Tính giá trị tiền
    threshold_in_money = avg_price * threshold

    print(f"Threshold ({threshold}) thành tiền: ${threshold_in_money:.2f}")
    
    return delta, threshold

In [12]:
delta, threshold = calculate_threshold(train_df, 30)

Delta = 30
Threshold gợi ý: 0.0505%

Giá trung bình trong dữ liệu: $1400.79
Threshold (0.0005052906290964593) thành tiền: $0.71

In [13]:
# Simple labeling
def labeling_data(df, delta, threshold):
    df.loc[:, [f'Price_t_plus_{delta}']] = df['Close'].shift(-delta)

    # Tính tỷ lệ thay đổi giá
    df.loc[:, ['Return']] = df[f'Price_t_plus_{delta}'] / df['Close'] - 1

    # Loại bỏ giá trị NaN (do shift)
    df = df.dropna()
    
    # Kiểm tra phân bố nhãn với threshold riêng
    df.loc[:, ['Label']] = np.where(df[f'Price_t_plus_{delta}'] > df['Close'] * (1 + threshold), 'BUY',
                        np.where(df[f'Price_t_plus_{delta}'] < df['Close'] * (1 - threshold), 'SELL', 'HOLD'))

    label_distribution = df['Label'].value_counts(normalize=True)
    print("\nPhân bố nhãn với threshold riêng:")
    print(label_distribution)
    
    return df

In [14]:
labeled_train_df = labeling_data(train_df, delta, threshold)
labeled_train_df

Phân bố nhãn với threshold riêng:
Label
HOLD    0.467222
BUY     0.269009
SELL    0.263770
Name: proportion, dtype: float64

,Date,Time,Open,High,Low,Close,Volume,Year,Month,Day,Price_t_plus_30,Return,Label
1589484,2011-01-03,01:00,1415.71,1416.54,1415.10,1415.63,1035,2011,1,3,1407.24,-0.005927,SELL
1589485,2011-01-03,02:00,1415.64,1416.43,1414.90,1415.98,736,2011,1,3,1407.42,-0.006045,SELL
1589486,2011-01-03,03:00,1415.95,1417.89,1414.59,1416.54,922,2011,1,3,1408.38,-0.005761,SELL
1589487,2011-01-03,04:00,1416.51,1418.64,1415.25,1416.75,1060,2011,1,3,1395.30,-0.015140,SELL
1589488,2011-01-03,05:00,1416.76,1420.00,1416.76,1419.48,838,2011,1,3,1387.66,-0.022417,SELL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036028,2020-12-31,19:13,1891.01,1892.01,1890.74,1892.01,112,2020,12,31,1893.16,0.000608,BUY
5036029,2020-12-31,19:14,1892.01,1892.64,1892.01,1892.28,77,2020,12,31,1893.53,0.000661,BUY
5036030,2020-12-31,19:15,1892.19,1892.21,1891.90,1892.02,68,2020,12,31,1893.43,0.000745,BUY
5036031,2020-12-31,19:16,1892.02,1892.06,1891.43,1891.43,75,2020,12,31,1893.43,0.001057,BUY
5036032,2020-12-31,19:17,1891.43,1891.55,1891.16,1891.44,72,2020,12,31,1893.43,0.001052,BUY

In [15]:
labeled_dev_df = labeling_data(dev_df, delta, threshold)
labeled_dev_df

Phân bố nhãn với threshold riêng:
Label
HOLD    0.459514
BUY     0.275431
SELL    0.265055
Name: proportion, dtype: float64

,Date,Time,Open,High,Low,Close,Volume,Year,Month,Day,Price_t_plus_30,Return,Label
5036063,2021-01-04,00:05,1909.07,1909.33,1907.95,1908.40,236,2021,1,4,1914.39,0.003139,BUY
5036064,2021-01-04,00:06,1908.36,1909.18,1907.82,1908.68,193,2021,1,4,1913.61,0.002583,BUY
5036065,2021-01-04,00:07,1908.67,1908.80,1908.18,1908.27,113,2021,1,4,1913.36,0.002667,BUY
5036066,2021-01-04,00:08,1908.27,1908.51,1907.84,1908.15,103,2021,1,4,1913.99,0.003061,BUY
5036067,2021-01-04,00:09,1908.19,1908.88,1907.73,1908.77,165,2021,1,4,1914.17,0.002829,BUY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5387042,2021-12-31,19:13,1825.31,1825.52,1825.26,1825.44,36,2021,12,31,1827.33,0.001035,BUY
5387043,2021-12-31,19:14,1825.46,1825.82,1825.41,1825.72,51,2021,12,31,1827.44,0.000942,BUY
5387044,2021-12-31,19:15,1825.72,1826.04,1825.71,1825.85,23,2021,12,31,1827.59,0.000953,BUY
5387045,2021-12-31,19:16,1825.83,1826.11,1825.75,1825.78,53,2021,12,31,1827.77,0.001090,BUY
5387046,2021-12-31,19:17,1825.79,1825.88,1825.49,1825.60,57,2021,12,31,1827.95,0.001287,BUY

In [16]:
labeled_test_df = labeling_data(test_df, delta, threshold)
labeled_test_df

Phân bố nhãn với threshold riêng:
Label
HOLD    0.457839
BUY     0.276853
SELL    0.265308
Name: proportion, dtype: float64

,Date,Time,Open,High,Low,Close,Volume,Year,Month,Day,Price_t_plus_30,Return,Label
5387077,2022-01-03,00:05,1830.630,1830.640,1829.650,1829.730,45,2022,1,3,1829.120,-0.000333,HOLD
5387078,2022-01-03,00:06,1829.750,1830.160,1829.650,1830.020,56,2022,1,3,1829.240,-0.000426,HOLD
5387079,2022-01-03,00:07,1829.900,1829.950,1829.520,1829.790,47,2022,1,3,1829.370,-0.000230,HOLD
5387080,2022-01-03,00:08,1829.870,1831.130,1829.800,1831.130,45,2022,1,3,1829.030,-0.001147,SELL
5387081,2022-01-03,00:09,1831.130,1831.820,1830.860,1831.650,58,2022,1,3,1829.200,-0.001338,SELL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6514439,2025-03-11,06:41,2899.629,2900.183,2899.413,2900.044,131,2025,3,11,2902.015,0.000680,BUY
6514440,2025-03-11,06:42,2900.058,2900.650,2899.793,2899.897,160,2025,3,11,2900.870,0.000336,HOLD
6514441,2025-03-11,06:43,2899.845,2900.337,2899.749,2899.819,114,2025,3,11,2901.157,0.000461,HOLD
6514442,2025-03-11,06:44,2899.820,2900.323,2899.429,2900.109,171,2025,3,11,2899.923,-0.000064,HOLD
6514443,2025-03-11,06:45,2900.149,2900.441,2899.954,2900.280,122,2025,3,11,2898.750,-0.000528,SELL

In [17]:
labeled_train_df.columns

Index(['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Year',
       'Month', 'Day', 'Price_t_plus_30', 'Return', 'Label'],
      dtype='object')

In [18]:
# cols = ['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Label']

# labeled_train_df[cols].to_csv('data/labeled_train.csv', index=False)
# labeled_dev_df[cols].to_csv('data/labeled_dev.csv', index=False)
# labeled_test_df[cols].to_csv('data/labeled_test.csv', index=False)

In [19]:
def counter_label(df, delta):
    cnt = 0
    for i in range(delta, len(df), delta):
        label = df['Label'].iloc[i-30]
        for j in range(i-30, i):
            if label == 'BUY':
                if df['Label'].iloc[j] == 'SELL':
                    cnt += 1
            elif label == 'SELL':
                if df['Label'].iloc[j] == 'BUY':
                    cnt += 1
    return cnt

print("Tong so label: ", len(labeled_train_df))
print("So lan xuat hien nhan nguoc: ", counter_label(labeled_train_df, delta))
print("Ti le xuat hien nhan nguoc", counter_label(labeled_train_df, delta) / len(labeled_train_df) * 100)

Tong so label:  3446549
So lan xuat hien nhan nguoc:  253287
Ti le xuat hien nhan nguoc 7.349003307366296

Tại thời điểm T, xét trong khoảng (T, T + $\Delta$):
- Nếu T đang là BUY (giá tại T + $\Delta$ cao hơn T), trong khoảng này xuất hiện điểm có giá nhỏ hơn T rất nhiều (đáy $\sqrt{}$)
        thì nhãn tại T sẽ được chuyển thành SELL.
- Và ngược lại

In [ ]:
def dynamic_labeling(df, delta, threshold):
    df = df.copy()
    
    # Tính sẵn min/max trong cửa sổ kế tiếp delta dòng => Cực trị
    # Dịch ngược DataFrame, tính rolling min/max, rồi dịch đúng thứ tự
    reversed_close = df['Close'].iloc[::-1]
    rolling_min = reversed_close.rolling(window=delta, min_periods=1).min().iloc[::-1].shift(1)
    rolling_max = reversed_close.rolling(window=delta, min_periods=1).max().iloc[::-1].shift(1)
    
    # Bước gán nhãn ban đầu
    df = simple_labeling(df, delta, threshold)

    # Áp dụng min/max tương ứng từng hàng
    df['future_min'] = rolling_min
    df['future_max'] = rolling_max

    # Cập nhật nhãn theo giá cực trị
    df.loc[(df['Label'] == 'BUY') & (df['future_min'] < df['Close'] * (1 - threshold)), 'Label'] = 'SELL'
    df.loc[(df['Label'] == 'SELL') & (df['future_max'] > df['Close'] * (1 + threshold)), 'Label'] = 'BUY'

    label_distribution = df['Label'].value_counts(normalize=True)
    print("\nPhân bố nhãn sau cập nhật:")
    print(label_distribution)

    return df

In [ ]:
dynamic_labeled_train_df = dynamic_labeling(train_df, delta, threshold)
dynamic_labeled_train_df

In [ ]:
dynamic_labeled_dev_df = dynamic_labeling(dev_df, delta, threshold)
dynamic_labeled_dev_df

In [ ]:
dynamic_labeled_test_df = dynamic_labeling(test_df, delta, threshold)
dynamic_labeled_test_df

In [ ]:
# cols = ['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Label']

# dynamic_labeled_train_df[cols].to_csv('data/dynamic_labeled_train.csv', index=False)
# dynamic_labeled_dev_df[cols].to_csv('data/dynamic_labeled_dev.csv', index=False)
# dynamic_labeled_test_df[cols].to_csv('data/dynamic_labeled_test.csv', index=False)