In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Split data

In [2]:
data_path = 'XAU_30m_data.csv'
save_dir = '.'

In [3]:
df = pd.read_csv(data_path, sep=';')

In [4]:
df

                    Date     Open     High      Low    Close  Volume
0       2004.06.11 07:00   384.00   384.30   383.80   384.30      12
1       2004.06.11 07:30   383.80   384.30   383.30   383.80      32
2       2004.06.11 08:00   383.80   384.30   383.50   383.50      28
3       2004.06.11 08:30   383.30   383.50   383.10   383.10      13
4       2004.06.11 09:00   383.10   384.10   382.80   383.00      24
...                  ...      ...      ...      ...      ...     ...
238086  2025.01.31 22:00  2796.24  2797.57  2794.34  2797.10    2461
238087  2025.01.31 22:30  2796.94  2802.10  2796.34  2800.88    2816
238088  2025.01.31 23:00  2801.15  2802.70  2799.64  2801.67    1166
238089  2025.01.31 23:30  2801.64  2802.11  2798.50  2799.23     749
238090  2025.02.03 12:30  2794.52  2795.01  2794.21  2794.42    1645

[238091 rows x 6 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238091 entries, 0 to 238090
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    238091 non-null  object
 1   Open    238091 non-null  float64
 2   High    238091 non-null  float64
 3   Low     238091 non-null  float64
 4   Close   238091 non-null  float64
 5   Volume  238091 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 10.9+ MB

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(['Date'], ascending=True)
# df['Year'], df['Month'], df['Day'] = df['Date'].dt.year, df['Date'].dt.month, df['Date'].dt.day

In [7]:
df

                      Date     Open     High      Low    Close  Volume
0      2004-06-11 07:00:00   384.00   384.30   383.80   384.30      12
1      2004-06-11 07:30:00   383.80   384.30   383.30   383.80      32
2      2004-06-11 08:00:00   383.80   384.30   383.50   383.50      28
3      2004-06-11 08:30:00   383.30   383.50   383.10   383.10      13
4      2004-06-11 09:00:00   383.10   384.10   382.80   383.00      24
...                    ...      ...      ...      ...      ...     ...
238086 2025-01-31 22:00:00  2796.24  2797.57  2794.34  2797.10    2461
238087 2025-01-31 22:30:00  2796.94  2802.10  2796.34  2800.88    2816
238088 2025-01-31 23:00:00  2801.15  2802.70  2799.64  2801.67    1166
238089 2025-01-31 23:30:00  2801.64  2802.11  2798.50  2799.23     749
238090 2025-02-03 12:30:00  2794.52  2795.01  2794.21  2794.42    1645

[238091 rows x 6 columns]

In [8]:
test_df = df.loc[df['Date'].dt.year.isin(range(2022, 2026))]
test_df

                      Date     Open     High      Low    Close  Volume
202038 2022-01-03 01:00:00  1830.63  1831.82  1828.99  1829.28     764
202039 2022-01-03 01:30:00  1829.18  1829.39  1828.03  1828.49     589
202040 2022-01-03 02:00:00  1828.47  1829.09  1827.00  1829.02    1009
202041 2022-01-03 02:30:00  1829.02  1831.00  1828.46  1830.23    1491
202042 2022-01-03 03:00:00  1830.16  1831.56  1829.56  1831.10     949
...                    ...      ...      ...      ...      ...     ...
238086 2025-01-31 22:00:00  2796.24  2797.57  2794.34  2797.10    2461
238087 2025-01-31 22:30:00  2796.94  2802.10  2796.34  2800.88    2816
238088 2025-01-31 23:00:00  2801.15  2802.70  2799.64  2801.67    1166
238089 2025-01-31 23:30:00  2801.64  2802.11  2798.50  2799.23     749
238090 2025-02-03 12:30:00  2794.52  2795.01  2794.21  2794.42    1645

[36053 rows x 6 columns]

In [9]:
dev_df = df.loc[df['Date'].dt.year == 2021]
dev_df

                      Date     Open     High      Low    Close  Volume
190243 2021-01-04 01:00:00  1909.07  1911.33  1907.72  1910.86    1921
190244 2021-01-04 01:30:00  1910.71  1914.93  1909.51  1913.10    2309
190245 2021-01-04 02:00:00  1913.04  1913.49  1909.90  1911.00    1636
190246 2021-01-04 02:30:00  1911.01  1913.64  1910.34  1913.41    1058
190247 2021-01-04 03:00:00  1913.41  1917.00  1912.16  1914.89    3689
...                    ...      ...      ...      ...      ...     ...
202033 2021-12-31 18:30:00  1823.45  1825.85  1822.95  1825.30    2208
202034 2021-12-31 19:00:00  1825.30  1827.08  1824.95  1826.78    1919
202035 2021-12-31 19:30:00  1826.79  1827.45  1825.92  1826.55    2202
202036 2021-12-31 20:00:00  1826.57  1828.08  1824.72  1827.17    2489
202037 2021-12-31 20:30:00  1827.21  1828.04  1826.30  1827.95    1055

[11795 rows x 6 columns]

In [10]:
train_df = df.loc[df['Date'].dt.year.isin(range(2010, 2021))]
train_df

                      Date     Open     High      Low    Close  Volume
62676  2010-01-04 01:00:00  1094.61  1096.45  1093.08  1095.65    1764
62677  2010-01-04 01:30:00  1095.36  1096.90  1094.25  1094.49    1600
62678  2010-01-04 02:00:00  1094.95  1095.95  1094.00  1095.06    1601
62679  2010-01-04 02:30:00  1095.05  1095.80  1094.54  1095.65    1416
62680  2010-01-04 03:00:00  1095.35  1098.90  1095.28  1097.49    1657
...                    ...      ...      ...      ...      ...     ...
190238 2020-12-31 18:30:00  1898.79  1898.97  1894.20  1895.87    1886
190239 2020-12-31 19:00:00  1895.87  1896.32  1894.23  1894.45    2242
190240 2020-12-31 19:30:00  1894.40  1894.49  1892.65  1894.31    1682
190241 2020-12-31 20:00:00  1894.28  1894.99  1890.21  1891.74    2369
190242 2020-12-31 20:30:00  1891.70  1893.67  1891.50  1893.43     733

[127567 rows x 6 columns]

In [11]:
def get_future_price(df, delta=30):
    df.loc[:, [f'Price_t_plus_{delta}']] = df['Close'].shift(-delta)
    return df

In [12]:
# cols = ['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', f'Price_t_plus_{delta}']

# train_df[cols].dropna().to_csv('data/regression_train.csv', index=False)
# dev_df[cols].dropna().to_csv('data/regression_dev.csv', index=False)
# test_df[cols].dropna().to_csv('data/regression_test.csv', index=False)

# Labeling for classification

In [13]:
# def calculate_threshold(df, delta=30):
#     df = get_future_price(df, delta=30)

#     # Tính tỷ lệ thay đổi giá
#     df.loc[:, ['Return']] = df[f'Price_t_plus_{delta}'] / df['Close'] - 1

#     # Loại bỏ giá trị NaN (do shift)
#     df = df.dropna()

#     # Tách return thành tăng (dương) và giảm (âm)
#     positive_returns = df['Return'][df['Return'] > 0]  # Tăng giá
#     negative_returns = df['Return'][df['Return'] < 0]  # Giảm giá

#     # Thống kê cho return dương (BUY)
#     mean_positive = positive_returns.mean()
#     std_positive = positive_returns.std()
#     percentiles_positive = positive_returns.quantile([0.25, 0.5, 0.75, 0.95])

#     # Thống kê cho return âm (SELL)
#     mean_negative = negative_returns.mean()
#     std_negative = negative_returns.std()
#     percentiles_negative = negative_returns.quantile([0.05, 0.25, 0.5, 0.75])

#     # In thống kê
#     print(f"Thống kê dao động giá trong {delta} phút (Tăng - BUY):")
#     print(f"Trung bình: {mean_positive:.4%}")
#     print(f"Độ lệch chuẩn: {std_positive:.4%}")
#     print(f"Phân vị 25%: {percentiles_positive[0.25]:.4%}")
#     print(f"Phân vị 50% (median): {percentiles_positive[0.5]:.4%}")
#     print(f"Phân vị 75%: {percentiles_positive[0.75]:.4%}")
#     print(f"Phân vị 95%: {percentiles_positive[0.95]:.4%}")

#     print(f"\nThống kê dao động giá trong {delta} phút (Giảm - SELL):")
#     print(f"Trung bình: {mean_negative:.4%}")
#     print(f"Độ lệch chuẩn: {std_negative:.4%}")
#     print(f"Phân vị 5%: {percentiles_negative[0.05]:.4%}")
#     print(f"Phân vị 25%: {percentiles_negative[0.25]:.4%}")
#     print(f"Phân vị 50% (median): {percentiles_negative[0.5]:.4%}")
#     print(f"Phân vị 75%: {percentiles_negative[0.75]:.4%}")

#     # Vẽ histogram riêng cho tăng và giảm
#     plt.figure(figsize=(7, 4))

#     plt.subplot(1, 2, 1)
#     plt.hist(positive_returns, bins=50, range=(0, 0.05), density=True, color='blue')
#     plt.title(f"Phân bố tăng giá (BUY) trong {delta} phút")
#     plt.xlabel("Return")
#     plt.ylabel("Tần suất")

#     plt.subplot(1, 2, 2)
#     plt.hist(negative_returns, bins=50, range=(-0.05, 0), density=True, color='red')
#     plt.title(f"Phân bố giảm giá (SELL) trong {delta} phút")
#     plt.xlabel("Return")
#     plt.ylabel("Tần suất")

#     plt.tight_layout()
#     plt.show()

#     print(f'Delta = {delta}')
    
#     # Đề xuất threshold 
#     threshold = std_positive * 0.45
    
#     print(f"Threshold gợi ý: {threshold:.4%}")
    
#     # Tính giá trị tiền dựa trên giá trung bình trong df
#     avg_price = df['Close'].mean()
#     print(f"\nGiá trung bình trong dữ liệu: ${avg_price:.2f}")

#     # Tính giá trị tiền
#     threshold_in_money = avg_price * threshold

#     print(f"Giá trị tiền tương ứng với threshold:")
#     print(f"Threshold ({threshold}) in money: ${threshold_in_money:.2f}")

#     # Kiểm tra phân bố nhãn với threshold riêng
#     df.loc[:, ['Label']] = np.where(df[f'Price_t_plus_{delta}'] > df['Close'] * (1 + threshold), 'BUY',
#                         np.where(df[f'Price_t_plus_{delta}'] < df['Close'] * (1 - threshold), 'SELL', 'HOLD'))

#     label_distribution = df['Label'].value_counts(normalize=True)
#     print("\nPhân bố nhãn với threshold riêng:")
#     print(label_distribution)
    
#     return df, delta, threshold

In [14]:
def calculate_threshold(df, delta=30, rate=0.45):
    df = get_future_price(df, delta=delta)

    # Tính tỷ lệ thay đổi giá
    df.loc[:, ['Return']] = df[f'Price_t_plus_{delta}'] / df['Close'] - 1

    # Loại bỏ giá trị NaN (do shift)
    df = df.dropna()

    # Tách return thành tăng (dương) và giảm (âm)
    positive_returns = df['Return'][df['Return'] > 0]  # Tăng giá

    std_positive = positive_returns.std()

    print(f'Delta = {delta}')
    
    # Đề xuất threshold 
    threshold = std_positive * rate # 1.5 lần độ lệch chuẩn cho BUY
    
    print(f"Threshold gợi ý: {threshold:.4%}")
    
    # Tính giá trị tiền dựa trên giá trung bình trong df
    avg_price = df['Close'].mean()
    print(f"\nGiá trung bình trong dữ liệu: ${avg_price:.2f}")

    # Tính giá trị tiền
    threshold_in_money = avg_price * threshold

    print(f"Threshold ({threshold}) thành tiền: ${threshold_in_money:.2f}")
    
    return delta, threshold

In [15]:
delta, threshold = calculate_threshold(train_df, 1, 0.4)

Delta = 1
Threshold gợi ý: 0.0450%

Giá trung bình trong dữ liệu: $1386.04
Threshold (0.000450314969554075) thành tiền: $0.62

In [16]:
# Simple labeling
def simple_labeling(df, delta, threshold):
    df.loc[:, [f'Price_t_plus_{delta}']] = df['Close'].shift(-delta)

    # Tính tỷ lệ thay đổi giá
    df.loc[:, ['Return']] = df[f'Price_t_plus_{delta}'] / df['Close'] - 1

    # Loại bỏ giá trị NaN (do shift)
    df = df.dropna()
    
    # Kiểm tra phân bố nhãn với threshold riêng
    df.loc[:, ['Label']] = np.where(df[f'Price_t_plus_{delta}'] > df['Close'] * (1 + threshold), 'BUY',
                        np.where(df[f'Price_t_plus_{delta}'] < df['Close'] * (1 - threshold), 'SELL', 'HOLD'))

    label_distribution = df['Label'].value_counts(normalize=True)
    print("\nPhân bố nhãn với threshold riêng:")
    print(label_distribution)
    
    return df

In [17]:
labeled_train_df = simple_labeling(train_df, delta, threshold)
# labeled_train_df

Phân bố nhãn với threshold riêng:
Label
HOLD    0.423577
BUY     0.291692
SELL    0.284731
Name: proportion, dtype: float64

In [18]:
labeled_dev_df = simple_labeling(dev_df, delta, threshold)
# labeled_dev_df

Phân bố nhãn với threshold riêng:
Label
HOLD    0.422249
BUY     0.296846
SELL    0.280906
Name: proportion, dtype: float64

In [19]:
labeled_test_df = simple_labeling(test_df, delta, threshold)
# labeled_test_df

Phân bố nhãn với threshold riêng:
Label
HOLD    0.421336
BUY     0.294297
SELL    0.284367
Name: proportion, dtype: float64

In [20]:
labeled_train_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Price_t_plus_1',
       'Return', 'Label'],
      dtype='object')

In [21]:
cols = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Label']

labeled_train_df[cols].to_csv(f'{save_dir}/labeled_train.csv', index=False)
labeled_dev_df[cols].to_csv(f'{save_dir}/labeled_dev.csv', index=False)
labeled_test_df[cols].to_csv(f'{save_dir}/labeled_test.csv', index=False)

In [22]:
def counter_label(df, delta):
    cnt = 0
    for i in range(0, len(df) - delta, delta):
        label = df['Label'].iloc[i-30]
        for j in range(i, i+delta):
            if label == 'BUY':
                if df['Label'].iloc[j] == 'SELL':
                    cnt += 1
                    break
            elif label == 'SELL':
                if df['Label'].iloc[j] == 'BUY':
                    cnt += 1
                    break
    return cnt


print("Tong so label: ", len(labeled_train_df))
cnt = counter_label(labeled_train_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(labeled_train_df) * 100)


print("Tong so label: ", len(labeled_dev_df))
cnt = counter_label(labeled_dev_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(labeled_dev_df) * 100)


print("Tong so label: ", len(labeled_test_df))
cnt = counter_label(labeled_test_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(labeled_test_df) * 100)

Tong so label:  127566
So lan xuat hien nhan nguoc:  21769
Ti le xuat hien nhan nguoc 17.064891899095368
Tong so label:  11794
So lan xuat hien nhan nguoc:  1977
Ti le xuat hien nhan nguoc 16.762760725792774
Tong so label:  36052
So lan xuat hien nhan nguoc:  6008
Ti le xuat hien nhan nguoc 16.664817485853767

Tại thời điểm T, xét trong khoảng (T, T + $\Delta$):
- Nếu T đang là BUY (giá tại T + $\Delta$ cao hơn T), trong khoảng này xuất hiện điểm có giá nhỏ hơn T rất nhiều (đáy $\sqrt{}$)
        thì nhãn tại T sẽ được chuyển thành SELL.
- Và ngược lại

In [23]:
def dynamic_labeling(df, delta, threshold):
    df = df.copy()
    
    # Bước gán nhãn ban đầu
    df = simple_labeling(df, delta, threshold)
    
    # Tính sẵn min/max trong cửa sổ kế tiếp delta dòng => Cực trị
    # Dịch ngược DataFrame, tính rolling min/max, rồi dịch đúng thứ tự
    reversed_close = df['Close'].iloc[::-1]
    rolling_min = reversed_close.rolling(window=delta, min_periods=1).min().iloc[::-1].shift(1)
    rolling_max = reversed_close.rolling(window=delta, min_periods=1).max().iloc[::-1].shift(1)

    # Áp dụng min/max tương ứng từng hàng
    df['future_min'] = rolling_min
    df['future_max'] = rolling_max

    # Cập nhật nhãn theo giá cực trị
    df.loc[(df['Label'] == 'BUY') & (df['future_min'] < df['Close'] * (1 - threshold)), 'Label'] = 'SELL'
    df.loc[(df['Label'] == 'SELL') & (df['future_max'] > df['Close'] * (1 + threshold)), 'Label'] = 'BUY'

    label_distribution = df['Label'].value_counts(normalize=True)
    print("\nPhân bố nhãn sau cập nhật:")
    print(label_distribution)

    return df

In [24]:
dynamic_labeled_train_df = dynamic_labeling(train_df, delta, threshold)
# dynamic_labeled_train_df

Phân bố nhãn với threshold riêng:
Label
HOLD    0.423577
BUY     0.291692
SELL    0.284731
Name: proportion, dtype: float64

Phân bố nhãn sau cập nhật:
Label
HOLD    0.423577
SELL    0.288635
BUY     0.287788
Name: proportion, dtype: float64

In [25]:
dynamic_labeled_dev_df = dynamic_labeling(dev_df, delta, threshold)
# dynamic_labeled_dev_df

Phân bố nhãn với threshold riêng:
Label
HOLD    0.422249
BUY     0.296846
SELL    0.280906
Name: proportion, dtype: float64

Phân bố nhãn sau cập nhật:
Label
HOLD    0.422249
BUY     0.290148
SELL    0.287604
Name: proportion, dtype: float64

In [26]:
dynamic_labeled_test_df = dynamic_labeling(test_df, delta, threshold)
# dynamic_labeled_test_df

Phân bố nhãn với threshold riêng:
Label
HOLD    0.421336
BUY     0.294297
SELL    0.284367
Name: proportion, dtype: float64

Phân bố nhãn sau cập nhật:
Label
HOLD    0.421336
BUY     0.289831
SELL    0.288833
Name: proportion, dtype: float64

In [27]:

print("Tong so label: ", len(dynamic_labeled_train_df))
cnt = counter_label(dynamic_labeled_train_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(dynamic_labeled_train_df) * 100)


print("Tong so label: ", len(dynamic_labeled_dev_df))
cnt = counter_label(dynamic_labeled_dev_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(dynamic_labeled_dev_df) * 100)


print("Tong so label: ", len(dynamic_labeled_test_df))
cnt = counter_label(dynamic_labeled_test_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(dynamic_labeled_test_df) * 100)

Tong so label:  127566
So lan xuat hien nhan nguoc:  21782
Ti le xuat hien nhan nguoc 17.075082702287446
Tong so label:  11794
So lan xuat hien nhan nguoc:  1983
Ti le xuat hien nhan nguoc 16.813634051212482
Tong so label:  36052
So lan xuat hien nhan nguoc:  6065
Ti le xuat hien nhan nguoc 16.82292244535671

In [28]:
cols = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Label']

dynamic_labeled_train_df[cols].to_csv(f'{save_dir}/dynamic_labeled_train.csv', index=False)
dynamic_labeled_dev_df[cols].to_csv(f'{save_dir}/dynamic_labeled_dev.csv', index=False)
dynamic_labeled_test_df[cols].to_csv(f'{save_dir}/dynamic_labeled_test.csv', index=False)